@media (min-width: 320px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}

main {
  margin: auto 12.5%;
  border: black solid 1px;
}
