/*all animations are below class styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* CUSTOM PROPERTIES */

:root {
  --mousePosX: 0;
  --mousePosY: 0;
  /* Phase two */
  --aptOptionsDisplay: none;
  /* aptOptionsContainersWidth */
  --aptOptTopLeftWidth: 70%;
  --aptOptMiddleLeftWidth: 70%;
  --aptOptBottomLeftWidth: 70%;
  --aptOptTopRightWidth: 70%;
  --aptOptMiddleRightWidth: 70%;
  --aptOptBottomRightWidth: 70%;
  /* Inner aptOptions Display */
  --nameAndContactDisplay: none;
  --tensionDisplay: none;
  --stringTypeDisplay: none;
  --optionalsDisplay: none;
  --schedulingDisplay: none;
  --commentsDisplay: none;
}

/* */
* {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* APP CONTAINER */

.App {
  width: 100vw;
  height: 100vh;
  inset: 0 0 0 0;
  overflow: hidden;
}

/* HOME CSS */
.home {
  position: fixed;
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.8fr 1.3fr 0.8fr 0.8fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas: 
  '. racket racket racket racket racket .'
  '. racket racket racket racket racket .'
  '. racket racket racket racket racket .'
  '. racket racket racket racket racket .'
  '. racket racket racket racket racket .'
  ;
  grid-gap: 0.2rem;
  height: 100%;
  width: 100%;
  inset:  0 0 0 0;
  overflow: hidden;
}

.homeBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  inset:  0 0 0 0;
  overflow: hidden;
  background-image: url('./images/home-homebackground.png');
  background-size: cover;
  z-index: -1;
  transition: filter ease-in 1.5s;
}

.mainContainer {
  position: relative;
  grid-area: racket;

  justify-content: center;
}

/* Phase one */

.racketWrapper {
  justify-content: center;
  width: 100%;
  height: 100%;
  /* All classes until next comment regarding this grid below this class are within it */
  display: grid;
  position: relative;
  margin-top: 70%;
  grid-template-columns: repeat(11, 1fr);
  animation: moveRacketIntoFrame 1.5s ease-in-out 1.5s forwards;
  transition: transform 0.1s, opacity 1s;
  transform: skew(var(--mousePosX), var(--mousePosY));
}

.racket {
  display: flex;
  justify-content: center;
  align-self: center;
  grid-column: 3 / 10;
  grid-row: 1;
}

.racketWrapper img {
  align-self: center;
  width: 45%;
  display: block;
}

.startBtnWrapper {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 6;
  grid-row: 1;
  z-index: 1;
}

.startBtn {
  display: block;
  justify-content: center;
  position: relative;
  background: url('./images/home-racketdampener.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat ;
  margin-bottom: 57%;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 53%;
  font-size: 0.8vw;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  animation: bounce 0.8s ease-out 1.2s;
}

.startBtn:hover {
color: white;
transform: scale(1.1);
}

/* Phase two */

.greeting {
  display: none;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 2vw;
  grid-column: 3 / 6;
  grid-row: 3;
  animation: fadeIn 1s ease-in alternate;
  transition: opacity 1s;
}

/* #aptOptions = all apt container divs together */

#aptOptions {
  position: relative;
  display: var(--aptOptionsDisplay);
  height: auto;
  align-self: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  transition: width 0.7s;
}

/* button to open options */

.aptOptionsBtn {
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: 0.7vw;
  color: white;
  background: none;
}

/* individual aptOptionsWrapper divs */

.appointmentOptionsTopLeft {
  width: var(--aptOptTopLeftWidth);
  grid-column: 3;
  grid-row: 2;
  animation: fadeIn 1s ease-out forwards;
}

.appointmentOptionsTopLeft::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C33426;
  border-radius: 15px;
  z-index: -1;
  transform: skew(-20deg);
}

.appointmentOptionsMiddleLeft {
  width: var(--aptOptMiddleLeftWidth);
  grid-column: 2;
  grid-row: 3;
  animation: fadeIn 1s ease-out forwards 0.2s;
  background-color: #C33426;
  border-radius: 15px;
}

.appointmentOptionsBottomLeft {
  width: var(--aptOptBottomLeftWidth);
  grid-column: 3;
  grid-row: 4;
  animation: fadeIn 1s ease-out forwards 0.4s;
}

.appointmentOptionsBottomLeft::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C33426;
  border-radius: 15px;
  z-index: -1;
  transform: skew(20deg);
}

.appointmentOptionsTopRight {
  width: var(--aptOptTopRightWidth);
  grid-column: 5;
  grid-row: 2;
  animation: fadeIn 1s ease-out forwards 1s;
}

.appointmentOptionsTopRight::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C33426;
  border-radius: 15px;
  z-index: -1;
  transform: skew(20deg);
}

.appointmentOptionsMiddleRight {
  width: var(--aptOptMiddleRightWidth);
  grid-column: 6;
  grid-row: 3;
  background-color: #C33426;
  border-radius: 15px;

  animation: fadeIn 1s ease-out forwards 0.8s;
}

.appointmentOptionsBottomRight {
  width: var(--aptOptBottomRightWidth);
  grid-column: 5;
  grid-row: 4;
  animation: fadeIn 1s ease-out forwards 0.6s;
}

.appointmentOptionsBottomRight::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C33426;
  border-radius: 15px;

  z-index: -1;
  transform: skew(-20deg);
}
/* all inner content divs */

#aptOptionsInner {
  width: 100%;
  height: 100%;
  padding: 0.4em 0.4em;
  font-size: 0.6vw;
  color: black;
  background: white;
}

/* individual inner content divs */

.nameAndContact {
  display: var(--nameAndContactDisplay);
}

.tension {
  display: var(--tensionDisplay);
}

.stringType {
  display: var(--stringTypeDisplay);
}

.optionals {
  display: var(--optionalsDisplay);
}

.scheduling {
  display: var(--schedulingDisplay);
}

.comments {
  display: var(--commentsDisplay);
}

/* All above classes are within .racketWrapper grid */

/* MENU BANNER CSS */
.menuBanner {
  display: grid;
  inset:  0 auto auto 0;
  position: absolute;
  grid-template-columns: auto auto;
  z-index: 1;
  align-items: center;
  max-height: fit-content;
  width: 100%;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 70px;
  transition: transform 0.5s ease-out;
}

.logo:hover {
transform: rotate(360deg);

}

.DTS {
  max-height: 25px;
  transition: 0.3s ease-out;
}

.DTS:hover {
  transform: scale(1.03);
}

.infoButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.infoButton {
  margin: 20px;
  max-width: 100px;
  background: none;
  border: none;
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: color 0.3s;
}

.infoButton:hover {
  color: #da564a;
}

/* TABLET RWD BEGINS */
@media only screen and (max-width: 810px) {
  
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    'racket' 
    'racket'
    'racket'
    'racket'
    'racket'
    ;
    grid-gap: 0.2rem;
  }
  
  .racketWrapper {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .racket {
    justify-self: center;
    align-self: center;
    width: 236%;
    height: 100%;
  }
  
  .startBtnWrapper {
    grid-column: 5 / 8;
  }
   
  .startBtn {
    width: 53%;
    margin-bottom: 42%;
    font-size: 2vw;
  }
  
  .greeting {
    grid-column: 1;
    grid-row: 3;
    font-size: 4vw;
  }

}

/* MOBILE RWD BEGINS */
@media only screen and (max-width: 428px) {

  /* HOME CSS */

.home {
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas: 
  'racket' 
  'racket'
  'racket'
  'racket'
  'racket'
  ;
  grid-gap: 0.2rem;
}

.racketWrapper {
  animation: fadeIn 1s ease-out forwards;
}

.racket {
  justify-self: center;
  align-self: center;
  width: 330%;
  height: 100%;
}

.startBtnWrapper {
  grid-column: 5 / 8;
}
 
.startBtn {
  width: 75%;
  margin-bottom: 63%;
  font-size: 3vw;
}

.greeting {
  grid-column: 1;
  grid-row: 3;
  font-size: 4vw;
}

  /* MENU BANNER CSS */

  .DTS {
    display: none;
    max-height: 25px;
  }

}



/*  ANIMATIONS BEGIN */

/* Phase one */
/* start button */

@keyframes bounce {
  0% {transform: scale(1);}
  40% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

/* racket */

@keyframes moveRacketIntoFrame {
  0% {margin-top: 70%;}
  100% {margin-top: 0%;}
}

/* Phase two */
/* greeting */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes rollDown {
  0% {height: 0;}
  100% {height: 90%;}
}