/*all animations are below class styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.App {
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.menu {
  z-index: 1;
}

.home {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  inset:  0 0 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}

.dtsTitle {
  z-index: 1;
  height: fit-content;
  width: 1046px;
  z-index: 1;
  animation: titleSlideInAndMoveUp 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.perfectlyTensioned {
  position: absolute;
  z-index: 1;
  transform: rotateX(180deg);
  margin-top: 55px;
  height: 60px;
  width: 429px;
  overflow: hidden; 
  animation: pTSlideDown 2s;
}

.makeAppointmentBtnTennisBallWrapper {
  z-index: 1;
  display: flex;
  position: absolute;
  margin-top: 400px;
  transition: all 0.8s;
  animation: makeAppointmentBtnFadeIn 2.8s;
  animation-fill-mode: forwards;
}

.makeAppointmentBtnTennisBallWrapper:hover {
  transform: scale(1.05);
}

.makeAppointmentBtnWrapper {
  position: relative;
  white-space: nowrap;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease-out;
  animation: makeAppointmentBtnSlideIn 3.8s;
  animation-fill-mode: forwards;
}

.makeAppointmentBtnWrapper::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  box-shadow: inset 0 -3px 2px rgb(116, 116, 116),
              inset 0 3px 2px black;
  opacity: 100%;
  z-index: -1;
}

.makeAppointmentBtn {
  padding: 0.6rem 0.7rem 0.6rem 2.7rem;
  border: none;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  width: fit-content;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.tennisBall {
  position: absolute; 
  z-index: 1;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  animation: tennisBallMoveLeft 3.8s;
  animation-fill-mode: forwards;
}

.glowHome {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 150px 13px #d35400;
  animation: glowing 4.3s;
  animation-iteration-count: infinite;
}


/* Replaced with new background and info */
 .homeBackgroundPicture {
  display: fixed;
  position: absolute;
  width: 1920px;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.homePageLoadingBackground {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  inset:  0 0 0;
  z-index: 1;
  background-color: black;
}

.makeAppointmentWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0 0 0 0;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  background-image: url('/src/images/appointmentpagebg.png'); 
}

.orderFormWrapper {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 1.5em;
}

.orderFormWrapper h2 {
  align-self: center;
}

.submitAppointmentBtn {
  margin-top: 30px;
  padding: 0.3rem 0.7rem;
  border: none;
  align-self: center;
  height: fit-content;
  width: fit-content;
  font-size: large;
  color: white;
  cursor: pointer;
  background: #A8B826;
  /* NEW */
  border-radius: 25px;
  box-shadow: inset 0 2px 2px rgb(116, 116, 116),
              inset 0 -2px 2px black;
  transition: all 0.3s;
  
}

.submitAppointmentBtn:hover {
  background-color: #FF3026;
  box-shadow: inset 0 2px 2px rgb(255, 175, 175),
              inset 0 -2px 2px black;
}

.underline {
  text-decoration: underline;
}

.appointmentRacketWrapper {   
 margin-left: 150px;
}

.appointmentRacketWrapper img {
  display: none;
  transform: translateY(94px);
  height: 100%;
}

.infoWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0 0 0 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
  color: white;
  background: black;
}

.infoBackgroundPicture {
  display: fixed;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.placardWrapper {
  display: flex;
  grid-template-columns: auto auto;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(2px);
}

.flipCard {
  background-color: transparent;
  height: 100%;
  width: 485px;
  transition: transform 0.8s;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  border: black 10px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flipCardFront, .flipCardBack {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  filter: grayscale(70%);
}

.flipCardFront {
  color: white;
  opacity: 100%;
  transition: all 0.4s;
}

.flipCard:hover .flipCardFront {
  filter: grayscale(0%);
}

.flipCardFront p {
  padding: 0.2rem 0.7rem;
  font-size: large;
  height: 1.5em;
  width: fit-content;
  font-weight: bold;
  color: white;
  letter-spacing: 0.075em;
  border: 2px solid black;
}

.flipCardFront p::before {
  content: '';
  z-index: -1;
  padding: 0.2rem 0.7rem;
  height: 1.8 em;
  position: absolute;
  background-color: red;
}

.flipCardBack {
  text-align: center;
  text-shadow: 5px 5px 5px black;
  color: white;
  transform: rotateY(-180deg);
}

.flipCardBack p {
  padding: 1em;
} 

.menuBanner {            
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 3;
  color: white;
  inset: 0 auto auto 0;
  overflow: hidden;
}

.menuBannerBacker {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(75, 75, 75);
  opacity: 80%;
  z-index: -1;
}

.menuBtns {
  display: flex;
  position: relative;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
  translate: -133px;
  list-style: none;
}

.menuBtns button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1rem;
  color: white;
  font-weight: bold;
  font-size: large;
  /* NEW */
  border-radius: 25px;
  letter-spacing: 0.1em;
  transition: all .3s;
}

.menuBtns button:hover {
  background-color: black;
  /* font-size: larger; */
  color: #D9E802;
}

.dtslogo {
  width: 200px;
  cursor: pointer;
  z-index: 3;
}

@keyframes titleSlideInAndMoveUp {
  0% {width: 0;}
  50% {transform: translateY(0); width: 1046px;}
  100% {transform: translateY(-25px);}
}

@keyframes pTSlideDown {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 60;}
}

@keyframes makeAppointmentBtnSlideIn {
  0% {width: 0;}
  70% {width: 0;}
  100% {width: 325px;}
}

@keyframes tennisBallMoveLeft {
  0% {transform: translateX(-11px); opacity: 0;}
  60% {opacity: 0;}
  70% {transform: translateX(-11px); opacity: 1;}
  100% {transform: translateX(-11px);}
}

@keyframes glowing {
  0% {transform: scale(1);}
  20% {transform: scale(2.5);}
  50% {transform: scale(1.5);}
  72% {transform: scale(2.2);}
  100% {transform: scale(1);}
}

@keyframes racketFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


